<!doctype html> 
<html ng-app="rpnApp">
   <head>
   <script src="/js/jquery-2.1.4.js"></script>
   <script src="/js/angular.js"></script>
   <script src="/controllers/rpnController.js"></script>
   </head>
   <body>
        <div ng-controller="rpnCtrl">
            <form>
                <input name="formula" ng-model="formula" placeholder="逆ポーランド式" style="width:180px"></input>
                <input type="button" ng-click="calcrpn()"></input>
            </form>
            <span ng-bind="rpnResult"></span>
        </div>
   </body>
</html>
